---
import '@/styles/globals.css'
import Navbar from '../components/nav-bar'
import WritingText from '../components/text-animation'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>BrailleEd</title>
	</head>
	<body>
    <Navbar />
    TODO: Add braille background
    <main class="flex flex-col justify-center h-screen">
      <div class="flex justify-center">
      <WritingText text="BrailleEd" client:load/>
        </div>
    </main>
	</body>
</html>
